# MAVEN

target/
!.mvn/wrapper/maven-wrapper.jar

# STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# INTELLIJ

.idea/
*.iws
*.iml
*.ipr

# VS CODE

.vscode/

# LOGS

*.log

# OS FILES

.DS_Store

# ENV FILES

.env

# UPLOADS

uploads/

# RESUMES

*.pdf
*.doc
*.docx

# TEMP FILES

temp/

# BUILD FILES

build/

# CACHE

.cache/